body{
  Font-side: xx-small;
  Margin: 0px;
  Font-family: Verndana;
}
tb{
  Font-size: xx-small;
  Margin: 0px;
  Font-family: Verdana;
}
h2{
  Color: blue;
  Font-family: Verdana;
  Font-family: Verdana;
}
input{
  Font-size: xx-small;
  Margin: 0px;
  Font-family: Verdana;
}